cache/backup/SkickaTidredovisningInteraction_1.0_shsbp10.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    name="SkickaTidredovisningInteraction"
    targetNamespace="urn:shs:emottagning:SkickaTidredovisning:1:shsbp10"
    xmlns:tns="urn:shs:emottagning:SkickaTidredovisning:1:shsbp10"
    xmlns:tid="urn:shs:emottagning:SkickaTidredovisning:1"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <wsdl:documentation>
    Tjänsteinteraktionens namn: SkickaTidredovisning
    Beskrivning: E-tjänst för tidredovisning
    Revisioner:
      2016-04-12: Nytt utkast 1.0. Förbättrad schemadokumentaton.
      2016-03-30: Nytt utkast 1.0. Lagt till ocsp-response och soap fault.
      2016-03-18: Utkast version 1.0
      2016-03-08: Utkast version 0.1
    Tjänstedomän: emottagning
    Tjänsteinteraktionstyp: Informationsspridning
    SHS Version 2.0 SOAP-based Protocol Basic Profile 1.0
    Förvaltas av: Försäkringskassan
  </wsdl:documentation>

  <wsdl:types>
    <xs:schema
        targetNamespace="urn:shs:emottagning:SkickaTidredovisning:1:shsbp10">
      <xs:import namespace="urn:shs:emottagning:SkickaTidredovisning:1"
                 schemaLocation="SkickaTidredovisningResponder_1.0.xsd"/>
      <xs:import namespace="http://www.w3.org/2005/05/xmlmime"/>
    </xs:schema>
    <xs:schema targetNamespace="http://www.w3.org/2005/05/xmlmime">
      <xs:include schemaLocation="xmlmime.xsd"/>
    </xs:schema>
  </wsdl:types>

  <wsdl:message name="SkickaTidredovisningRequest">
    <wsdl:part name="parameters"
               element="tid:SkickaTidredovisning"/>
  </wsdl:message>
  <wsdl:message name="SkickaTidredovisningResponse">
    <wsdl:part name="parameters"
               element="tid:SkickaTidredovisningResponse"/>
  </wsdl:message>
  <wsdl:message name="XmlValidationError">
    <wsdl:part name="error" element="tid:XmlValidationError"/>
  </wsdl:message>
  <wsdl:message name="SignatureValidationError">
    <wsdl:part name="error" element="tid:SignatureValidationError"/>
  </wsdl:message>

  <wsdl:portType name="SkickaTidredovisningResponderInterface">
    <wsdl:operation name="SkickaTidredovisning">
      <wsdl:input message="tns:SkickaTidredovisningRequest"/>
      <wsdl:output message="tns:SkickaTidredovisningResponse"/>
      <wsdl:fault name="XmlValidationError" message="tns:XmlValidationError"/>
      <wsdl:fault name="SignatureValidationError"
                  message="tns:SignatureValidationError"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="SkickaTidredovisningResponderBinding"
                type="tns:SkickaTidredovisningResponderInterface">
    <soap:binding style="document"
                  transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SkickaTidredovisning">
      <soap:operation soapAction="urn:shs:emottagning:SkickaTidredovisningResponder:1:SkickaTidredovisning"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="XmlValidationError">
        <soap:fault use="literal" name="XmlValidationError"/>
      </wsdl:fault>
      <wsdl:fault name="SignatureValidationError">
        <soap:fault use="literal" name="SignatureValidationError"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="SkickaTidredovisningResponderService">
    <wsdl:port name="SkickaTidredovisningResponderPort"
               binding="tns:SkickaTidredovisningResponderBinding">
      <soap:address location="https://shs.forsakringskassan.se:7020/shs2/FK.ASE.Tidredovisning"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
